torch~=2.6.0
triton~=3.2.0
peft~=0.15.1
bitsandbytes~=0.45.5
trl==0.16.1
libcirkit@git+https://github.com/april-tools/cirkit@af0785106b98cfde53e83e38a994089d774278eb
deepspeed
datasets
tqdm
hydra-core
omegaconf
pytest
matplotlib
seaborn
tueplots
wandb
transformers
more_itertools
