torch~=2.6.0
transformers==4.55.4
triton~=3.2.0
peft~=0.15.1
bitsandbytes~=0.45.5
trl==0.16.1
libcirkit@git+https://github.com/april-tools/cirkit@af0785106b98cfde53e83e38a994089d774278eb
datasets==4.0.0
huggingface-hub==0.36.2
hf-xet==1.4.2
hydra-core==1.3.2
langdetect==1.0.9
omegaconf==2.3.0
tqdm
pytest
matplotlib
seaborn
tueplots
wandb
more_itertools
py-cpuinfo
